<div class="container p-4">
   <div class="row">
    {{#each productos}}
      <div class="col-md-3">
        <div class="card-text-center">
           <div class="card-body">
            <a href="">
              <h3 class="card-title text-uppercase">
                {{nombre}}
              </h3>
            </a>
            <p class="m-2">{{precio}}</p>
            <p class="m-2">{{stock}}</p>
            <p>{{timeago created_at}}</p>
            <a href="/productos/delete/{{id}}" class="btn btn-danger">Eliminar</a>
            <a href="/productos/edit/{{id}}" class="btn btn-secondary">Editar</a>
           </div>
        </div>
      </div>
      {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay productos almacenados</p>
                <a href="/productos/add">Almacena uno</a>
            </div>
        </div>
    {{/each}}
   </div>
</div>